<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPGWonder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
      <file value="error.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%logger] %m%n" />
      </layout>
    </appender>
    <appender name="GameFileAppender" type="log4net.Appender.FileAppender">
      <file value="game.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%logger] %m%n" />
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.consoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%logger] %m%n" />
      </layout>
    </appender>
    <appender name="debug" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%logger] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="console" />
    </root>
    <logger name="ErrorLogger" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="debug" />
    </logger>
    <logger name="GameLogger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="GameFileAppender" />
      <appender-ref ref="debug" />
    </logger>
  </log4net>


  <userSettings>
    <RPGWonder.Properties.Settings>
      <setting name="System" serializeAs="String">
        <value>DnD5e</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>..\\..\\</value>
      </setting>
    </RPGWonder.Properties.Settings>
  </userSettings>
</configuration>